/* intro article*/
.intro-img{
    position: relative;
    margin-left: 10px;
    width: 650px;
    height: 450px;
}
.image-p{
    text-align: left;
    margin-right: 20px;
}
.small-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(36, 195, 159);
}
.sub-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(42, 44, 44);
}
.main-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkgray;
}
.quo-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkgray;
    font-style: italic;
}
.name-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: rgb(42, 44, 44);
}
.hexagon{
    margin-top: 100px;
    margin-left: 0;
}
.hexagon li{
    display: inline-block;
    list-style: none;
    width: 350px;
}
li p.sub-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(42, 44, 44);
}
li p.main-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: darkgray;
}